* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

section#selection {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#selection > * {
  margin-bottom: 1rem;
}

section#colors {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2rem;
}

.colorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codes {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.displayColor {
  background-color: coral;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
}
