/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
section#colors {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.displayColor {
  background-color: coral;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
